<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
  package="info.spielproject.spiel">

  <uses-sdk android:minSdkVersion="8"/>
  <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
  <uses-feature android:name="android.hardware.telephony" android:required="false"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application android:label="@string/appName"   android:icon="@drawable/empty">

    <service android:name=".SpielService" android:settingsActivity=".activities.Spiel">

      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService"/>
        <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN"/>
      </intent-filter>

      <meta-data android:name="android.accessibilityservice"
        android:resource="@xml/accessibilityservice"/>

    </service>

    <activity
      android:name=".activities.Spiel"
      android:configChanges="orientation|keyboardHidden|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
<category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="spiel"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.PreferencesActivity"
      android:configChanges="orientation|keyboardHidden|screenSize">
      <intent-filter>    
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.accessibilityservice.SERVICE_SETTINGS"/>
      </intent-filter>
    </activity>

    <activity android:name=".activities.Scripts"/>

    <activity android:name=".activities.Events"/>

    <activity android:name=".activities.ScriptInstaller">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="info.spielproject.spiel.intent.NEW_SCRIPTS_VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!--<activity android:name=".activities.CommandHandler">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH_LONG_PRESS"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>-->

    <provider android:name=".StatusProvider" android:authorities="info.spielproject.spiel.providers.StatusProvider"/>

    <provider android:name=".scripting.Provider" android:authorities="info.spielproject.spiel.scripting.Provider"/>

    <provider android:name=".scripting.BazaarProvider" android:authorities="info.spielproject.spiel.scripting.bazaar.Provider"/>

  </application>
</manifest>
