---
title: Welcome
---

|
  Spiel is a flexible, open source screen reader for the Android platform.

h2 Recent News
-unless sorted_articles.nil?
  ==render "partials/articles", :articles_to_render => sorted_articles[0..4]
