-to_render = if defined?(articles_to_render) then articles_to_render else item[:articles] end
-to_render.each do |article|
  ==render "partials/article", :article => article do
    ==article.compiled_content
